*{
  margin:0; padding:0; box-sizing:border-box;
}
body{
  background-image:url('D:\reactproject\greeting\src\img3.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
div{
  height:100px;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:150px;
  
}
div>h1{
  background-color: rgb(56, 199, 199,0.4);
  padding:30px;
}